<!-- Post -->

<h4 align="left" class="post-info">
  <strong>31 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/racial-interpellation/">
    <strong>Racial Interpellation in the Academy</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Joseph M. Pierce</span>
            <span class="author">and Kaiama L. Glover</span>
   </p></h4>
   <p class="prose">Offering a set of provocations and invitations, Joseph M. Pierce (Stony Brook University) and Kaiama L. Glover (Barnard College) dialogue about the vulnerability of the Indigenous, black, and brown person in academia, and the solidarities, alliances, and kinship forged between black and brown intellectuals that pose a real threat to academic institutions. Building from Lorgia García Peña’s tenure denial, Pierce and Glover move from the structural violence attending their positions in academia to push us to think harder about how we do the work of decoloniality and/in Ethnic Studies.</p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>26 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/from-the-footnote/">
    <strong>From the Footnote to the Center of the Page</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Elizabeth Manley</span>
            <span class="author">and Edward Paulino</span>
   </p></h4>
   <p class="prose">This conversation features historians Elizabeth Manley (Xavier University) and Edward Paulino (John Jay College of Criminal Justice), who reflect on the contributions Lorgia García Peña's <em>The Borders of Dominicanidad</em> makes to the growing field of Dominican Studies. They also address the way the book draws attention to the crucial place of the Dominican Republic and Haiti in histories of the Caribbean, Latin America, and the African Diaspora. Both build from García Peña's insistence that studies of the Dominican Republic move "from the footnote to the center of the page," and what this means in relation to archival work.</p>
   <br>


<!-- Post -->

<h4 align="left" class="post-info">
  <strong>26 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/lorgian-margin/">
    <strong>In Praise of the Lorgian Margin</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Urayoán Noel</span>
            <span class="author">and Rachel Afi Quinn</span>
   </p></h4>
   <p class="prose">In this exchange  Urayoán Noel (NYU) and Rachel Afi Quinn (U. Houston) examine the innovative methods of Lorgia García Peña’s <em>The Borders of Dominicanidad</em>. Urayoán Noel highlights the methodology of entering the margins of U.S. and Dominican national archives, which he calls the “Lorgian Margin,” and Rachel Afi Quinn highlights the self-reflexivity of this methodology, pointing to the ways that Lorgia García Peña’s own voice and embodied experience come under self-scrutiny in the text.</p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>19 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/ethnic-studies-now/">
    <strong>Ethnic Studies Now</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Frances Negrón-Muntaner</span>
            <span class="author">and Roopika Risam</span>
   </p></h4>
   <p class="prose">In this strong exchange, Frances Negrón-Muntaner (Columbia U.) and Roopika Risam (Salem State U.) discuss why Ethnic Studies now. Negrón-Muntaner discusses how universities approach Ethnic Studies as a threat precisely because Ethnic Studies seeks to overturn the status quo as an “insurrection” from within and without. Roopika Risam continues in the same vein by outlining the imbrication of the university and racial capitalism and declaring the university as we know it “indefensible.”</p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>18 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/black-radical-tradition/">
    <strong>A Black Radical Tradition Without Borders</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Robin Kelley</span>
            <span class="author">and Laurent Dubois</span>
   </p></h4>
   <p class="prose">
    In this powerful epistolary exchange, Robin D. G. Kelley (UCLA) and Laurent Dubois (Duke U.) respond to a set of guiding questions about the importance of thinking, theorizing, and historicizing race and racial blackness globally, internationally, and transnationally.
   </p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>18 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/traversing-borders/">
    <strong>Traversing the Borders of Dominicanidad</strong>
  </a><br>
  <p class="bylines">

            <span class="author">Jossianna Arroyo</span>,
            <span class="author">Sharina Maillo-Pozo</span>,
            <span class="author">and Danny Mendez</span>
   </p></h4>
   <p class="prose">
    In this exchange, Jossianna Arroyo (U. of Texas, Austin), Sharina Maillo-Pozo (U. of Georgia), and Danny Méndez (Michigan State U.) delve into <em>The Borders of Dominicanidad</em>. Arroyo and Maillo-Pozo offer cogent analyses of the book’s wide-ranging contributions, and Méndez offers a moving response to their analyses that considers the book in relation to García Peña’s commitments.
   </p>
   <br>
