<!-- Post -->

<h4 align="left" class="post-info">
  <strong>19 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/ethnic-studies-now/">
    <strong>Ethnic Studies Now</strong>
  </a><br>
  <p class="bylines">
          
            <span class="author">Frances Negrón-Muntaner</span>
            <span class="author">and Roopika Risam</span>
   </p></h4>
   <p class="prose">In this strong exchange, Frances Negrón-Muntaner and Roopika Risam discuss why Ethnic Studies now. Negrón-Muntaner discusses how universities approach Ethnic Studies as a threat precisely because Ethnic Studies seeks to overturn the status quo as an “insurrection” from within and without. Roopika Risam continues in the same vein by outlining the imbrication of the university and racial capitalism and declaring the university as we know it “indefensible.”</p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>18 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/black-radical-tradition/">
    <strong>A Black Radical Tradition Without Borders</strong>
  </a><br>
  <p class="bylines">
          
            <span class="author">Robin Kelley</span>
            <span class="author">and Laurent Dubois</span>
   </p></h4>
   <p class="prose">
    In this powerful epistolary exchange, Robin D. G. Kelley (UCLA) and Laurent Dubois (Duke U.) respond to a set of guiding questions about the importance of thinking, theorizing, and historicizing race and racial blackness globally, internationally, and transnationally.
   </p>
   <br>

<!-- Post -->

<h4 align="left" class="post-info">
  <strong>18 Dec 2019</strong>
  <small>
  .</small>
  <br class="visible-xs-block">
  <a href="/roundtable/traversing-borders/">
    <strong>Traversing the Borders of Dominicanidad</strong>
  </a><br>
  <p class="bylines">
          
            <span class="author">Jossianna Arroyo</span>, 
            <span class="author">Sharina Maillo-Pozo</span>, 
            <span class="author">and Danny Mendez</span>
   </p></h4>
   <p class="prose">
    In this exchange, Jossianna Arroyo (U. of Texas, Austin), Sharina Maillo-Pozo (U. of Georgia), and Danny Méndez (Michigan State U.) delve into <em>The Borders of Dominicanidad</em>. Arroyo and Maillo-Pozo offer cogent analyses of the book’s wide-ranging contributions, and Méndez offers a moving response to their analyses that considers the book in relation to García Peña’s commitments.
   </p>
   <br>



